.menu {
    border: 1px solid black;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #C23F47;
}

.logo {
    width: 171px;
    margin: 45px;
    height: 45px;
}

.container {
    background-color: #f3f3f3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 900px;
    height: 500px;
    background: #FFFFFF;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    display: flex;
}

.left-side-menu {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #FDF7F7;
    background: rgba(185, 35, 44, 0.87);
    border-radius: 16px 0px 0px 16px;
    padding: 30px;
}

.left-content-menu {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    padding-bottom: 25px;
    font-weight: 800;
}

.description {
    font-weight: 300;
    padding-bottom: 40px;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    padding: 10px 60px;
    cursor: pointer;
    font-weight: bold;
}

.btn-primary {
    background-color: transparent;
    border: 2px solid #fff;
}

.btn-primary:hover {
    background-color: #fff;
    color: #C23F47;
}

.btn-second{
    font-weight: 800;
    background-color: transparent;
    color: #5B3535;
    border: 2px solid #C23F47;
}
.btn-second:hover{
    background-color: #C23F47;
    color: #fff;
}
.right-side-menu {
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.right-side-menu .titulo {
    color: #C23F47;
    padding-top: 20px;
}

.right-content-menu {
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.right-content-menu .description {
    color: #9C9C9C;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 12px;
}

.form {
 
}

input {
    padding-left: 25px;
    display: block;
    border: none;
    width: 400px;
    height: 50px;
    margin-bottom: 25px;
    background: #E8E7E7;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.button{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
